# Dependencias
node_modules
.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Cache y temporales
.cache
.tmp
.temp
.DS_Store
*.local

# Entornos
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# NOTA: la carpeta dist/ SÍ se versiona a propósito,
# contiene la web ya compilada lista para subir a Hostinger.
